
    {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="{% static 'CMdiagnose/multi-select/css/multi-select.css' %}">


<h1>New</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'CMdiagnose:new' %}" method="post">
{% csrf_token %}
<label>General Symptoms</label>
<input type="text" id="generalt" name="generalt" value=""><br>
<select multiple='multiple' class='searchable' name="general">
  <option value=惡風>惡風</option>
  <option value=頭痛>頭痛</option>
  <option value=鼻鳴>鼻鳴</option>
  <option value=發熱>發熱</option>
  <option value=乾嘔>乾嘔</option>
  <option value=脈浮>脈浮</option>
  <option value=苔白厚發熱>苔白厚發熱</option>
  <option value=頭痛發熱>頭痛發熱</option>
  <option value=頭痛甚發熱>頭痛甚發熱</option>
  <option value=頭痛>頭痛</option>
  <option value=頭痛甚>頭痛甚</option>
  <option value=鼻塞>鼻塞</option>
  <option value=流清涕>流清涕</option>
  <option value=咳嗽>咳嗽</option>
  <option value=瘧血虛氣虛氣虛>瘧血虛氣虛氣虛</option>
  <option value=血虛>血虛</option>
  <option value=氣血兼虛惡風寒喜熱湯舌絳>氣血兼虛惡風寒喜熱湯舌絳</option>
  <option value=頭痛>頭痛</option>
  <option value=目干>目干</option>
  <option value=過午便熱虛火頭痛>過午便熱虛火頭痛</option>
  <option value=惡寒>惡寒</option>
  <option value=發熱>發熱</option>
  <option value=脈浮胸滿>脈浮胸滿</option>
  <option value=脅痛>脅痛</option>
  <option value=口苦>口苦</option>
  <option value=寒熱往來>寒熱往來</option>
  <option value=頭汗>頭汗</option>
  <option value=脈弦腹滿痛>脈弦腹滿痛</option>
  <option value=下利>下利</option>
  <option value=脈沉口燥>脈沉口燥</option>
  <option value=咽乾>咽乾</option>
  <option value=痛利清水>痛利清水</option>
  <option value=目不明小腹滿>目不明小腹滿</option>
  <option value=舌卷>舌卷</option>
  <option value=囊縮>囊縮</option>
  <option value=厥逆口渴>厥逆口渴</option>
  <option value=溺赤譫語狂亂>溺赤譫語狂亂</option>
  <option value=燥渴>燥渴</option>
  <option value=便閉>便閉</option>
  <option value=轉失氣>轉失氣</option>
  <option value=自汗>自汗</option>
  <option value=不得眠腹冷痛>不得眠腹冷痛</option>
  <option value=吐清沫>吐清沫</option>
  <option value=利清穀>利清穀</option>
  <option value=蜷臥>蜷臥</option>
  <option value=肢冷>肢冷</option>
  <option value=囊縮>囊縮</option>
  <option value=吐蛔>吐蛔</option>
  <option value=舌黑>舌黑</option>
  <option value=舌潤>舌潤</option>
  <option value=脈沉細頭痛>脈沉細頭痛</option>
  <option value=發熱>發熱</option>
  <option value=咳嗽>咳嗽</option>
  <option value=頸腫>頸腫</option>
  <option value=發頤憎寒>發頤憎寒</option>
  <option value=壯熱>壯熱</option>
  <option value=胸膈>胸膈</option>
  <option value=滿悶>滿悶</option>
  <option value=口吐黃涎譫語>口吐黃涎譫語</option>
  <option value=腹脹>腹脹</option>
  <option value=唇焦>唇焦</option>
  <option value=口渴腰以上腫腰以下腫腰以下腫>口渴腰以上腫腰以下腫腰以下腫</option>
  <option value=煩渴腰以下腫>煩渴腰以下腫</option>
  <option value=不煩渴腰以下腫>不煩渴腰以下腫</option>
  <option value=先喘而後腫腰以下腫>先喘而後腫腰以下腫</option>
  <option value=足不任地>足不任地</option>
  <option value=腿腫脹痛腰以下腫>腿腫脹痛腰以下腫</option>
  <option value=腫痛在腳心虛>腫痛在腳心虛</option>
  <option value=血不足>血不足</option>
  <option value=脈左寸弱>脈左寸弱</option>
  <option value=驚悸>驚悸</option>
  <option value=不得臥>不得臥</option>
  <option value=健忘>健忘</option>
  <option value=虛痛>虛痛</option>
  <option value=怔忡>怔忡</option>
  <option value=遺精左寸弦大>遺精左寸弦大</option>
  <option value=心實>心實</option>
  <option value=氣滯>氣滯</option>
  <option value=血痛>血痛</option>
  <option value=停飲>停飲</option>
  <option value= 痰迷> 痰迷</option>
  <option value=暑閉>暑閉</option>
  <option value=蟲嚙心寒>蟲嚙心寒</option>
  <option value=左寸遲>左寸遲</option>
  <option value=暴痛>暴痛</option>
  <option value=肢冷>肢冷</option>
  <option value=氣冷>氣冷</option>
  <option value=綿綿不休>綿綿不休</option>
  <option value=姜附湯加肉桂主之心熱>姜附湯加肉桂主之心熱</option>
  <option value=左寸數>左寸數</option>
  <option value=舌尖赤>舌尖赤</option>
  <option value=目痛>目痛</option>
  <option value=重舌>重舌</option>
  <option value=木舌>木舌</option>
  <option value=煩躁>煩躁</option>
  <option value=不得臥>不得臥</option>
  <option value=癲狂>癲狂</option>
  <option value= 譫語> 譫語</option>
  <option value=赤濁>赤濁</option>
  <option value=尿血肝虛>尿血肝虛</option>
  <option value=左關弱>左關弱</option>
  <option value=左關空大>左關空大</option>
  <option value=脅痛>脅痛</option>
  <option value=頭眩>頭眩</option>
  <option value=目干>目干</option>
  <option value=眉棱骨眼眶痛>眉棱骨眼眶痛</option>
  <option value=心悸>心悸</option>
  <option value=口渴>口渴</option>
  <option value=煩躁>煩躁</option>
  <option value=發熱肝實>發熱肝實</option>
  <option value=左關弦>左關弦</option>
  <option value=左關洪>左關洪</option>
  <option value=左脅痛>左脅痛</option>
  <option value=頭痛>頭痛</option>
  <option value=腹痛>腹痛</option>
  <option value=小腹痛>小腹痛</option>
  <option value=積聚>積聚</option>
  <option value=疝氣>疝氣</option>
  <option value=咳嗽>咳嗽</option>
  <option value=泄瀉>泄瀉</option>
  <option value=嘔吐>嘔吐</option>
  <option value=呃逆肝寒>呃逆肝寒</option>
  <option value=左關沉遲>左關沉遲</option>
  <option value=小腹痛>小腹痛</option>
  <option value=疝瘕>疝瘕</option>
  <option value=囊縮>囊縮</option>
  <option value=寒熱往來肝熱>寒熱往來肝熱</option>
  <option value=左關弦數>左關弦數</option>
  <option value=眩暈>眩暈</option>
  <option value=目赤腫痛>目赤腫痛</option>
  <option value=口苦>口苦</option>
  <option value=消渴>消渴</option>
  <option value=頭痛>頭痛</option>
  <option value=脅痛>脅痛</option>
  <option value=瘰癧>瘰癧</option>
  <option value=聤耳>聤耳</option>
  <option value=筋痿拘攣>筋痿拘攣</option>
  <option value=氣上衝心>氣上衝心</option>
  <option value=偏墜>偏墜</option>
  <option value=舌捲>舌捲</option>
  <option value=囊縮>囊縮</option>
  <option value=小便不禁>小便不禁</option>
  <option value=脾虛>脾虛</option>
  <option value=右關細軟>右關細軟</option>
  <option value=嘔吐>嘔吐</option>
  <option value=泄瀉>泄瀉</option>
  <option value=久痢>久痢</option>
  <option value=腹痛>腹痛</option>
  <option value=肢軟>肢軟</option>
  <option value=面黃>面黃</option>
  <option value=發腫>發腫</option>
  <option value=肌瘦>肌瘦</option>
  <option value=鼓脹>鼓脹</option>
  <option value=惡寒>惡寒</option>
  <option value=自汗>自汗</option>
  <option value=喘>喘</option>
  <option value=積滯不消>積滯不消</option>
  <option value=飲食化痰>飲食化痰</option>
  <option value=脫肛>脫肛</option>
  <option value=腸血>腸血</option>
  <option value=脾實>脾實</option>
  <option value=右關洪實>右關洪實</option>
  <option value=氣積>氣積</option>
  <option value=血積>血積</option>
  <option value=食積>食積</option>
  <option value=痞積>痞積</option>
  <option value=蟲積>蟲積</option>
  <option value=痰飲>痰飲</option>
  <option value=蠱脹>蠱脹</option>
  <option value= 腹痛> 腹痛</option>
  <option value=不能食>不能食</option>
  <option value=脾寒>脾寒</option>
  <option value=右關沉遲>右關沉遲</option>
  <option value=唇舌白>唇舌白</option>
  <option value=嘔吐>嘔吐</option>
  <option value=泄瀉>泄瀉</option>
  <option value=白痢>白痢</option>
  <option value=腹痛>腹痛</option>
  <option value=身痛>身痛</option>
  <option value=黃膽>黃膽</option>
  <option value=濕腫>濕腫</option>
  <option value=肢冷>肢冷</option>
  <option value=厥脫>厥脫</option>
  <option value=脾熱>脾熱</option>
  <option value=右關數>右關數</option>
  <option value=舌苔薄黃>舌苔薄黃</option>
  <option value=唇赤>唇赤</option>
  <option value=熱吐>熱吐</option>
  <option value=流涎>流涎</option>
  <option value=洞洩>洞洩</option>
  <option value=瀉渤>瀉渤</option>
  <option value=赤痢>赤痢</option>
  <option value=腹痛>腹痛</option>
  <option value=目胞腫痛>目胞腫痛</option>
  <option value=酒疸>酒疸</option>
  <option value=眩暈>眩暈</option>
  <option value=陽黃膽>陽黃膽</option>
  <option value=肺邪在表>肺邪在表</option>
  <option value=右寸脈浮>右寸脈浮</option>
  <option value=發熱>發熱</option>
  <option value=噴嚏鼻塞>噴嚏鼻塞</option>
  <option value=咳嗽>咳嗽</option>
  <option value=畏風>畏風</option>
  <option value=胸滿痛>胸滿痛</option>
  <option value=喉疼>喉疼</option>
  <option value=鼻燥>鼻燥</option>
  <option value=傷暑風>傷暑風</option>
  <option value=中時疫肺虛之症>中時疫肺虛之症</option>
  <option value=右寸脈細>右寸脈細</option>
  <option value=其症為自汗>其症為自汗</option>
  <option value=為咳嗽>為咳嗽</option>
  <option value=為氣急>為氣急</option>
  <option value=為咯血>為咯血</option>
  <option value=為肺痿>為肺痿</option>
  <option value=為虛勞肺實之症>為虛勞肺實之症</option>
  <option value=脈右寸必有力>脈右寸必有力</option>
  <option value=其症為氣閉>其症為氣閉</option>
  <option value=為痰閉>為痰閉</option>
  <option value=為暑閉>為暑閉</option>
  <option value=為水閉發喘>為水閉發喘</option>
  <option value=為風閉>為風閉</option>
  <option value=為火閉>為火閉</option>
  <option value=為咽痛>為咽痛</option>
  <option value=為右脅痛>為右脅痛</option>
  <option value=為肺癰肺寒之症>為肺癰肺寒之症</option>
  <option value=外感居多>外感居多</option>
  <option value=脈右寸必遲>脈右寸必遲</option>
  <option value=其症為清涕>其症為清涕</option>
  <option value=為咳嗽>為咳嗽</option>
  <option value=為惡寒>為惡寒</option>
  <option value=為面色痿白肺熱之症>為面色痿白肺熱之症</option>
  <option value=脈右寸必數>脈右寸必數</option>
  <option value=其症為目赤>其症為目赤</option>
  <option value=為鼻衄>為鼻衄</option>
  <option value=為咽痛>為咽痛</option>
  <option value=為吐血>為吐血</option>
  <option value=為咳嗽濃痰>為咳嗽濃痰</option>
  <option value=為酒積>為酒積</option>
  <option value=為龜胸>為龜胸</option>
  <option value=為小便不利>為小便不利</option>
  <option value=為便血腎之虛>為便血腎之虛</option>
  <option value=右尺細軟>右尺細軟</option>
  <option value=左尺細軟>左尺細軟</option>
  <option value=其症為頭痛>其症為頭痛</option>
  <option value=為耳鳴>為耳鳴</option>
  <option value=為耳聾>為耳聾</option>
  <option value=為盜汗>為盜汗</option>
  <option value=為夜熱>為夜熱</option>
  <option value=為健忘>為健忘</option>
  <option value=為咳嗽>為咳嗽</option>
  <option value=為喘>為喘</option>
  <option value=為吐血>為吐血</option>
  <option value=為腰痛>為腰痛</option>
  <option value=為腿酸足軟>為腿酸足軟</option>
  <option value=為目視無光>為目視無光</option>
  <option value=為大便結>為大便結</option>
  <option value=為小便不禁>為小便不禁</option>
  <option value=為戴陽>為戴陽</option>
  <option value=為久痢久瘧>為久痢久瘧</option>
  <option value=腎之寒>腎之寒</option>
  <option value=腎之虛也>腎之虛也</option>
  <option value=脈左右尺必遲沉>脈左右尺必遲沉</option>
  <option value=其症為命門火衰>其症為命門火衰</option>
  <option value=為不欲食>為不欲食</option>
  <option value=為雞鳴泄瀉>為雞鳴泄瀉</option>
  <option value=為天柱骨倒>為天柱骨倒</option>
  <option value=為蜷臥厥冷>為蜷臥厥冷</option>
  <option value=為奔豚>為奔豚</option>
  <option value=腎之熱>腎之熱</option>
  <option value=水將涸也>水將涸也</option>
  <option value=傷寒門有之>傷寒門有之</option>
  <option value=而雜症罕見>而雜症罕見</option>
  <option value=右尺沉數>右尺沉數</option>
  <option value=左尺沉數>左尺沉數</option>
  <option value=或浮而空>或浮而空</option>
  <option value=舌黑無液>舌黑無液</option>
  <option value=其症為口燥咽乾>其症為口燥咽乾</option>
  <option value=為目不明>為目不明</option>
  <option value=為小便不利>為小便不利</option>
  <option value=為小便濁>為小便濁</option>
  <option value=為小便出血>為小便出血</option>
  <option value=為大便秘>為大便秘</option>
  <option value=右關脈必浮>右關脈必浮</option>
  <option value=目痛>目痛</option>
  <option value=鼻乾>鼻乾</option>
  <option value=唇焦>唇焦</option>
  <option value=嗽水不欲咽>嗽水不欲咽</option>
  <option value=為面浮腫>為面浮腫</option>
  <option value=面痛>面痛</option>
  <option value=為疹>為疹</option>
  <option value=唇白>唇白</option>
  <option value=右關必軟弱>右關必軟弱</option>
  <option value=為吐>為吐</option>
  <option value=為噎膈>為噎膈</option>
  <option value=為不能食>為不能食</option>
  <option value=為胃脘痛>為胃脘痛</option>
  <option value=為停滯>為停滯</option>
  <option value=為濕腫>為濕腫</option>
  <option value=為痰>為痰</option>
  <option value=為嘈雜>為嘈雜</option>
  <option value=胃之實>胃之實</option>
  <option value=右關洪>右關洪</option>
  <option value=按胸則痛>按胸則痛</option>
  <option value=結胸>結胸</option>
  <option value=為痞氣>為痞氣</option>
  <option value=為食積>為食積</option>
  <option value=為痰飲>為痰飲</option>
  <option value=為水腫>為水腫</option>
  <option value=為胸脹悶>為胸脹悶</option>
  <option value=為胸脹痛>為胸脹痛</option>
  <option value=為胸痛>為胸痛</option>
  <option value=嘔膿>嘔膿</option>
  <option value=為不得臥>為不得臥</option>
  <option value=為便閉>為便閉</option>
  <option value=譫語>譫語</option>
  <option value=發狂>發狂</option>
  <option value=唇舌白>唇舌白</option>
  <option value=右關沉遲>右關沉遲</option>
  <option value=胃脘痛>胃脘痛</option>
  <option value=為嘔吐>為嘔吐</option>
  <option value=為霍亂>為霍亂</option>
  <option value=為吞酸噯腐>為吞酸噯腐</option>
  <option value=胃之熱>胃之熱</option>
  <option value=唇舌紅口臭>唇舌紅口臭</option>
  <option value=脈右關必洪數>脈右關必洪數</option>
  <option value=三消>三消</option>
  <option value=為嘈雜>為嘈雜</option>
  <option value=為吐血>為吐血</option>
  <option value=為齒痛>為齒痛</option>
  <option value=為黃胖面腫>為黃胖面腫</option>
  <option value=為自汗>為自汗</option>
  <option value=為舌黑燥渴>為舌黑燥渴</option>
  <option value=為疹>為疹</option>
  <option value=為便閉>為便閉</option>
  <option value=為呃逆>為呃逆</option>
  <option value=為頭痛>為頭痛</option>
  <option value=左尺浮>左尺浮</option>
  <option value=頭痛>頭痛</option>
  <option value=為項脊強>為項脊強</option>
  <option value=為身痛>為身痛</option>
  <option value=四肢拘急>四肢拘急</option>
  <option value=為發熱>為發熱</option>
  <option value=為惡寒無汗>為惡寒無汗</option>
  <option value=為喘嗽>為喘嗽</option>
  <option value=左尺細沉>左尺細沉</option>
  <option value=其症為小便不禁>其症為小便不禁</option>
  <option value=為勞淋>為勞淋</option>
  <option value=為老淋>為老淋</option>
  <option value=左尺洪大>左尺洪大</option>
  <option value=症為氣淋>症為氣淋</option>
  <option value=為血淋>為血淋</option>
  <option value=為關格>為關格</option>
  <option value=為膀胱氣>為膀胱氣</option>
  <option value=左尺沉遲>左尺沉遲</option>
  <option value=症為冷淋>症為冷淋</option>
  <option value=左尺數>左尺數</option>
  <option value=症為小便不通>症為小便不通</option>
  <option value=為膏淋>為膏淋</option>
  <option value=為石淋>為石淋</option>
  <option value=為便膿血>為便膿血</option>
  <option value=為發狂>為發狂</option>
  <option value=左關浮弦>左關浮弦</option>
  <option value=其症為頭汗>其症為頭汗</option>
  <option value=為寒熱往來>為寒熱往來</option>
  <option value=左關細軟>左關細軟</option>
  <option value=其症為驚悸>其症為驚悸</option>
  <option value=為太息>為太息</option>
  <option value=左關洪>左關洪</option>
  <option value=其症為胸滿>其症為胸滿</option>
  <option value=為脅痛>為脅痛</option>
  <option value=為耳聾>為耳聾</option>
  <option value=左關遲>左關遲</option>
  <option value=其症為精滑>其症為精滑</option>
  <option value=為嘔吐>為嘔吐</option>
  <option value=為舌苔滑>為舌苔滑</option>
  <option value=左關弦數>左關弦數</option>
  <option value=其症為口苦>其症為口苦</option>
  <option value=為嘔吐>為嘔吐</option>
  <option value=為盜汗>為盜汗</option>
  <option value=為目眩>為目眩</option>
  <option value=右尺沉弱>右尺沉弱</option>
  <option value=其症為久痢>其症為久痢</option>
  <option value=為脫肛>為脫肛</option>
  <option value=右尺洪實>右尺洪實</option>
  <option value=其症為便閉>其症為便閉</option>
  <option value=為髒毒>為髒毒</option>
  <option value=為燥渴>為燥渴</option>
  <option value=譫語>譫語</option>
  <option value=發狂>發狂</option>
  <option value=為腸癰>為腸癰</option>
  <option value=右尺沉遲>右尺沉遲</option>
  <option value=其症為久痢>其症為久痢</option>
  <option value=為便血>為便血</option>
  <option value=右尺數>右尺數</option>
  <option value=其症為便血>其症為便血</option>
  <option value=為腸風>為腸風</option>
  <option value=為脫肛>為脫肛</option>
  <option value=左尺細軟>左尺細軟</option>
  <option value=其症為溺赤短>其症為溺赤短</option>
  <option value=為腰痛>為腰痛</option>
  <option value=左尺洪弦>左尺洪弦</option>
  <option value=其症為小腸氣>其症為小腸氣</option>
  <option value=為交腸>為交腸</option>
  <option value=左尺遲>左尺遲</option>
  <option value=其症為咳嗽失氣>其症為咳嗽失氣</option>
  <option value=左尺數>左尺數</option>
  <option value=其症為溺澀溺短>其症為溺澀溺短</option>
  <option value=小兒>小兒</option>
  <option value=積乳食>積乳食</option>
  <option value=痰>痰</option>
  <option value=痰積>痰積</option>
  <option value=小兒>小兒</option>
  <option value=終日發熱>終日發熱</option>
  <option value=拘束肢冷>拘束肢冷</option>
  <option value=清涕咳嗽>清涕咳嗽</option>
  <option value=頭痛鼻塞>頭痛鼻塞</option>
  <option value=小兒>小兒</option>
  <option value=夜熱潮熱>夜熱潮熱</option>
  <option value=晝輕夜重>晝輕夜重</option>
  <option value=或口渴>或口渴</option>
  <option value=或腹脹>或腹脹</option>
  <option value=或盜汗>或盜汗</option>
  <option value=傷食>傷食</option>
  <option value=停痞>停痞</option>
  <option value=伏燥>伏燥</option>
  <option value=伏火>伏火</option>
  <option value=陰虛>陰虛</option>
  <option value=陽虛>陽虛</option>
  <option value=痰>痰</option>
  <option value=氣虛>氣虛</option>
  <option value=陽虛>陽虛</option>
  <option value=心腹脹滿>心腹脹滿</option>
  <option value=面色蒼白>面色蒼白</option>
  <option value=脾虛>脾虛</option>
  <option value=胃虛倦怠喜臥>胃虛倦怠喜臥</option>
  <option value= 納呆> 納呆</option>
  <option value= 體重節痛> 體重節痛</option>
  <option value= 面色不佳> 面色不佳</option>
  <option value= 大便不調> 大便不調</option>
  <option value=虛勞>虛勞</option>
  <option value=煩熱>煩熱</option>
  <option value=四肢怠惰>四肢怠惰</option>
  <option value=咳嗽咽乾>咳嗽咽乾</option>
  <option value=自汗食少>自汗食少</option>
  <option value=日晡發熱>日晡發熱</option>
  <option value=身體羸瘦>身體羸瘦</option>
  <option value= 骨蒸> 骨蒸</option>
  <option value=潮熱>潮熱</option>
  <option value= 唇紅頰赤> 唇紅頰赤</option>
  <option value=肺痿>肺痿</option>
  <option value=骨蒸>骨蒸</option>
  <option value=寒成勞>寒成勞</option>
  <option value=熱成勞>熱成勞</option>
  <option value=咳嗽聲不出>咳嗽聲不出</option>
  <option value=體虛自汗>體虛自汗</option>
  <option value=四肢倦怠>四肢倦怠</option>
  <option value=肺痿>肺痿</option>
  <option value=肺癰>肺癰</option>
  <option value= 癆熱> 癆熱</option>
  <option value=久咳>久咳</option>
  <option value= 痰中挾血> 痰中挾血</option>
  <option value=咽乾口燥>咽乾口燥</option>
  <option value= 咳嗽氣喘> 咳嗽氣喘</option>
  <option value= 痰中帶血> 痰中帶血</option>
  <option value= 舌紅少苔> 舌紅少苔</option>
  <option value= 脈細數> 脈細數</option>
  <option value=肺陰虛>肺陰虛</option>
  <option value=咳血>咳血</option>
  <option value=虛勞腹痛>虛勞腹痛</option>
  <option value= 腹軟喜溫按> 腹軟喜溫按</option>
  <option value= 心悸> 心悸</option>
  <option value= 面色無華> 面色無華</option>
  <option value= 納呆> 納呆</option>
  <option value=視力、記憶力減退>視力、記憶力減退</option>
  <option value= 眩暈耳鳴> 眩暈耳鳴</option>
  <option value= 神疲納呆> 神疲納呆</option>
  <option value= 脘悶便溏> 脘悶便溏</option>
  <option value= 脈細弱> 脈細弱</option>
  <option value=發熱惡寒>發熱惡寒</option>
  <option value= 頭痛身疼> 頭痛身疼</option>
  <option value= 無汗而喘> 無汗而喘</option>
  <option value= 脈浮緊> 脈浮緊</option>
  <option value=外感風寒>外感風寒</option>
  <option value=表虛汗出>表虛汗出</option>
  <option value=惡風>惡風</option>
  <option value= 頭痛發熱> 頭痛發熱</option>
  <option value= 鼻鳴乾嘔> 鼻鳴乾嘔</option>
  <option value= 苔白薄> 苔白薄</option>
  <option value= 脈浮弱或浮緩> 脈浮弱或浮緩</option>
  <option value=發熱惡寒>發熱惡寒</option>
  <option value= 不汗出而煩躁> 不汗出而煩躁</option>
  <option value= 舌苔白薄> 舌苔白薄</option>
  <option value= 脈浮緊> 脈浮緊</option>
  <option value=喘咳嗽>喘咳嗽</option>
  <option value= 痰多而清稀> 痰多而清稀</option>
  <option value= 不渴飲> 不渴飲</option>
  <option value= 苔潤滑> 苔潤滑</option>
  <option value= 脈浮緊> 脈浮緊</option>
  <option value=項背強痛>項背強痛</option>
  <option value= 無汗> 無汗</option>
  <option value= 或下利> 或下利</option>
  <option value= 苔薄白> 苔薄白</option>
  <option value= 脈浮> 脈浮</option>
  <option value=麻疹>麻疹</option>
  <option value=小兒噴嚏流淚>小兒噴嚏流淚</option>
  <option value=發熱煩躁>發熱煩躁</option>
  <option value=疹出不暢惡寒發熱>疹出不暢惡寒發熱</option>
  <option value= 肢體痠痛> 肢體痠痛</option>
  <option value= 口苦> 口苦</option>
  <option value= 苔白薄> 苔白薄</option>
  <option value= 脈浮緊> 脈浮緊</option>
  <option value=外感風寒>外感風寒</option>
  <option value= 頭痛發熱> 頭痛發熱</option>
  <option value= 無汗> 無汗</option>
  <option value= 咳嗽胸悶> 咳嗽胸悶</option>
  <option value= 鼻塞> 鼻塞</option>
  <option value=外感風寒>外感風寒</option>
  <option value=內傷飲冷>內傷飲冷</option>
  <option value=發熱惡寒>發熱惡寒</option>
  <option value=無汗>無汗</option>
  <option value=脈浮而緊；風濕表症>脈浮而緊；風濕表症</option>
  <option value=惡寒無汗>惡寒無汗</option>
  <option value=身體疼痛>身體疼痛</option>
  <option value=惡寒重發熱輕>惡寒重發熱輕</option>
  <option value= 四肢不溫> 四肢不溫</option>
  <option value= 舌淡苔白> 舌淡苔白</option>
  <option value= 脈沈> 脈沈</option>
</select>
<h1>舌診</h1>
<label>舌尖</label>
<input type="text" id="t_tipt" name="t_tipt" value=""><br>
<select multiple='multiple' class='callbacks' name="t_tip">
    <option value=red>赤</option>
    <option value=burr>芒刺</option>
</select>
<!-- <label>舌根</label>
<input type="text" id="t_roott" name="t_roott" value=""><br>
<select multiple='multiple' class='callbacks' name="t_root"></select>
</select> -->
<label>舌邊</label>
<input type="text" id="t_sidet" name="t_sidet" value=""><br>
<select multiple='multiple' class='callbacks' name="t_side">
    <option value=red>赤</option>
    <option value=burr>芒刺</option>
</select>
<label>舌苔</label>
<input type="text" id="t_furt" name="t_furt" value=""><br>
<select multiple='multiple' class='callbacks' name="t_fur">
    <option value=none>無苔</option>
    <option value=thick>厚苔</option>
    <option value=thin>薄苔</option>
    <option value=crack>燥裂苔</option>
</select>
<label>舌色</label>
<input type="text" id="t_colort" name="t_colort" value=""><br>
<select multiple='multiple' class='callbacks' name="t_color">
    <option value=red>紅</option>
    <option value=yellow>黃</option>
    <option value=black>黑</option>
    <option value=white>白</option>
    <option value=purple>紫</option>
</select>
<label>舌中</label>
<input type="text" id="t_middlet" name="t_middlet" value=""><br>
<select multiple='multiple' class='callbacks' name="t_middle">
    <option value=yellow>黃</option>
    <option value=black>黑</option>
</select>
<label>舌底</label>
<input type="text" id="t_bottomt" name="t_bottomt" value=""><br>
<select multiple='multiple' class='callbacks' name="t_bottom">
    <option value=red>紅</option>
    <option value=dry>嗌乾</option>
</select>
<label>舌濕度</label>
<input type="text" id="t_moisturet" name="t_moisturet" value=""><br>
<select multiple='multiple' class='callbacks' name="t_moisture">
    <option value=moist>濕</option>
    <option value=dry>乾</option>
</select>



<h1>整體</h1>
<input type="text" id="wholet" name="wholet" value=""><br>

  <select multiple='multiple' class='callbacks' name="whole">
      
      <option value=惡風>惡風</option>
      <option value=惡寒>惡寒</option>
      <option value=發熱>發熱</option>
      <option value=瘧>瘧</option>
      <option value=血虛>血虛</option>
      <option value=氣虛>氣虛</option>
      <option value=氣血兼虛>氣血兼虛</option>
      <option value=喜熱湯>喜熱湯</option>
      <option value=氣滯>氣滯</option>
      <option value=血痛>血痛</option>
      <option value=停飲>停飲</option>
      <option value=暑閉>暑閉</option>
      <option value=蟲嚙>蟲嚙</option>
      <option value=氣冷>氣冷</option>
      <option value=譫語>譫語</option>
      <option value=赤濁>赤濁</option>
      <option value=怠惰>怠惰</option>
      <option value=煩躁>煩躁</option>
      <option value=畏風>畏風</option>
      <option value=傷暑風>傷暑風</option>
      <option value=中時疫>中時疫</option>
      <option value=虛勞>虛勞</option>
      <option value=煩熱>煩熱</option>
      <option value=惡風寒>惡風寒</option>
      <option value=過午便熱>過午便熱</option>
      <option value=寒熱往來>寒熱往來</option>
      <option value=虛火>虛火</option>
      <option value=厥逆>厥逆</option>
      <option value=自汗>自汗</option>
      <option value=疹>疹</option>
      <option value=譫語狂亂>譫語狂亂</option>
      <option value=轉失氣>轉失氣</option>
      <option value=蜷臥>蜷臥</option>
      <option value=憎寒>憎寒</option>
      <option value=壯熱>壯熱</option>
      <option value=血不足>血不足</option>
      <option value=驚悸>驚悸</option>
      <option value=健忘>健忘</option>
      <option value=虛痛>虛痛</option>
      <option value=骨蒸>骨蒸</option>
      <option value=怔忡>怔忡</option>
      <option value=身痛>身痛</option>
      <option value=厥脫>厥脫</option>
      <option value=氣閉>氣閉</option>
      <option value=痰閉>痰閉</option>
      <option value=暑閉>暑閉</option>
      <option value=自汗食少>自汗食少</option>
      <option value=日晡發熱>日晡發熱（三至五时左右发热）</option>
      <option value=水閉發喘>水閉發喘</option>
      <option value=風閉>風閉</option>
      <option value=為火閉>為火閉</option>
      <option value=盜汗>盜汗</option>
      <option value=夜熱>夜熱</option>
      <option value=蜷臥厥冷>蜷臥厥冷</option>
      <option value=譫語>譫語</option>
      <option value=疹>疹</option>
      <option value=發狂>發狂</option>
      <option value=水腫>水腫</option>
      <option value=髒毒>髒毒</option>
      <option value=惡寒無汗>惡寒無汗</option>
      <option value=譫語>譫語</option>
      <option value=食少納呆>食少納呆</option>
      <option value=倦怠無力>倦怠無力</option>
      
  </select>
<!-- 
<h1>脈象</h1>
  <input type="text" id="pulse" name="pulse" value=""><br>
  
    <select multiple='multiple' class='callbacks' name="pulse">
  </select> -->

<!-- <h1>舌象</h1>
  <input type="text" id="tongue_t" name="tongue_t" value=""><br>
  
    <select multiple='multiple' class='callbacks' name="tongue_">
        <option value=苔白厚>苔白厚</option>
        <option value=舌絳>舌絳</option>
        <option value=舌黑>舌黑</option>
        <option value=舌潤>舌潤</option>
        <option value=舌尖赤>舌尖赤</option>
        <option value=重舌>重舌</option>
        <option value=木舌>木舌</option>
        <option value=無液>無液</option>
        <option value=舌苔薄黃>舌苔薄黃</option>
  </select> -->

<h1>頭部</h1>
<input type="text" id="headt" name="headt" value=""><br>

  <select multiple='multiple' class='callbacks' name="head">
      <option value='頭痛'>頭痛</option>
      <option value='頭眩'>頭眩</option>
      <option value='頭汗'>頭汗</option>
      <option value='眩暈'>眩暈</option>
      <option value='面黃'>面黃</option>
      <option value='發腫'>發腫</option>
      <option value='面浮腫'>面浮腫</option>
      <option value='眩暈'>眩暈</option>
      <option value='面色痿白'>面色痿白</option>
      <option value='面色蒼白'>面色蒼白</option>
      <option value='面痛'>面痛</option>
      <option value='黃胖面腫'>黃胖面腫</option>
      <option value='戴陽'>戴陽</option>
  </select>

<h1>眼部</h1>
  <input type="text" id="eyet" name="eyet" value=""><br>
  
    <select multiple='multiple' class='callbacks' name="eye">
        <option value=目干>目干</option>
        <option value=目不明>目不明</option>
        <option value=目赤>目赤</option>
        <option value=目痛>目痛</option>
        <option value=目眩>目眩</option>
        <option value=眉棱骨眼眶痛>眉棱骨眼眶痛</option>
        <option value=目赤腫痛>目赤腫痛</option>
        <option value=目胞腫痛>目胞腫痛</option>
        <option value=目視無光>目視無光</option>
    </select>

<h1>耳鼻喉</h1>
<input type="text" id="entt" name="entt" value=""><br>

  <select multiple='multiple' class='callbacks' name="ent">
      <option value=鼻鳴>鼻鳴</option>
      <option value=乾嘔>乾嘔</option>
      <option value=鼻塞>鼻塞</option>
      <option value=流清涕>流清涕</option>
      <option value=濃痰>濃痰</option>
      <option value=咳嗽咽乾>咳嗽咽乾</option>
      <option value=咳嗽聲不出>咳嗽聲不出</option>
      <option value=咳嗽>咳嗽</option>
      <option value=咽乾>咽乾</option>
      <option value=利清穀>利清穀</option>
      <option value=痰迷>痰迷</option>
      <option value=瘰癧>瘰癧</option>
      <option value=聤耳>聤耳</option>
      <option value=痰飲>痰飲</option>
      <option value=痰>痰</option>
      <option value=噴嚏>噴嚏</option>
      <option value=喉疼>喉疼</option>
      <option value=鼻燥>鼻燥</option>
      <option value=鼻衄>鼻衄</option>
      <option value=失氣>失氣</option>
      <option value=咽痛>咽痛</option>
      <option value=吐血>吐血</option>
      <option value=氣急>氣急</option>
      <option value=咯血>咯血</option>
      <option value=耳鳴>耳鳴</option>
      <option value=耳聾>耳聾</option>
  </select>


<h1>口腔</h1>
<input type="text" id="moutht" name="moutht" value=""><br>

  <select multiple='multiple' class='callbacks' name="mouth">
      <option value='口苦'>口苦</option>
      <option value='口燥'>口燥</option>
      <option value='舌卷'>舌卷</option>
      <option value='口渴'>口渴</option>
      <option value='燥渴'>燥渴</option>
      <option value='吐清沫'>吐清沫</option>
      <option value='吐蛔'>吐蛔</option>
      <option value='口吐黃涎'>口吐黃涎</option>
      <option value='煩渴'>煩渴</option>
      <option value='嘔吐'>嘔吐</option>
      <option value='呃逆'>呃逆</option>
      <option value='舌捲'>舌捲</option>
      <option value='嗽水不欲咽'>嗽水不欲咽</option>
      <option value='吐血'>吐血</option>
      <option value='口苦'>口苦</option>
      <option value='消渴'>消渴</option>
      <option value='唇舌白'>唇舌白</option>
      <option value='嘔吐'>嘔吐</option>
      <option value='唇赤'>唇赤</option>
      <option value='熱吐'>熱吐</option>
      <option value='唇白'>唇白</option>
      <option value='唇焦'>唇焦</option>
      <option value='口臭'>口臭</option>
      <option value='齒痛'>齒痛</option>
      <option value='流涎'>流涎</option>
      <option value='呃逆'>呃逆</option>
      <option value='耳聾'>耳聾</option>
      <option value='舌黑燥渴'>舌黑燥渴</option>
      <option value='舌苔滑'>舌苔滑</option>
      <option value='燥渴'>燥渴</option>
      <option value='唇舌紅'>唇舌紅</option>
  </select>

  
  <h1>颈部</h1>
  <input type="text" id="neckt" name="neckt" value=""><br>
  
    <select multiple='multiple' class='callbacks' name="neck">
        <option value=頸腫>頸腫</option>
        <option value=發頤>發頤</option>
        <option value=項脊強>項脊強</option>
    </select>



  <h1>背部</h1>
  <input type="text" id="backt" name="backt" value=""><br>
  
    <select multiple='multiple' class='callbacks' name="back">
        <option value=項脊強>項脊強</option>
        <option value=天柱骨倒>天柱骨倒</option>
    </select>



  
<h1>胸部</h1>
<input type="text" id="chestt" name="chestt" value=""><br>

  <select multiple='multiple' class='callbacks' name="chest">
      <option value=喘>喘</option>
      <option value=胸滿>胸滿</option>
      <option value=胸膈>胸膈</option>
      <option value=滿悶>滿悶</option>
      <option value=心悸>心悸</option>
      <option value=氣上衝心>氣上衝心</option>
      <option value=氣積>氣積</option>
      <option value=肺痿>肺痿</option>
      <option value=肺癰>肺癰</option>
      <option value=龜胸>龜胸</option>
      <option value=按胸則痛>按胸則痛</option>
      <option value=結胸>結胸</option>
      <option value=痞氣.胸脹悶>痞氣.胸脹悶</option>
      <option value=胸脹痛>胸脹痛</option>
      <option value=嘔膿>嘔膿</option>
      <option value=胸痛>胸痛</option>
      <option value=喘嗽>喘嗽</option>
      <option value=太息>太息</option>
      <option value=失氣>失氣</option>
  </select>

  
<h1>腹部</h1>
<input type="text" id="stomacht" name="stomacht" value=""><br>

<select multiple='multiple' class='callbacks' name="stomach">
    <option value=脅痛>脅痛</option>
    <option value=左脅痛>左脅痛</option>
    <option value=腹滿痛>腹滿痛</option>
    <option value=下利>下利</option>
    <option value=痛利清水>痛利清水</option>
    <option value=腹痛>腹痛</option>
    <option value=小腹痛>小腹痛</option>
    <option value=囊縮>囊縮</option>
    <option value=遺精>遺精</option>
    <option value=積聚>積聚</option>
    <option value=疝氣>疝氣</option>
    <option value=小腹滿>小腹滿</option>
    <option value=腹冷痛>腹冷痛</option>
    <option value=腰以上腫>腰以上腫</option>
    <option value=腰以下腫>腰以下腫</option>
    <option value=先喘而後腫>先喘而後腫</option>
    <option value=疝瘕>疝瘕</option>
    <option value=偏墜>偏墜</option>
    <option value=鼓脹>鼓脹</option>
    <option value=積滯不消>積滯不消</option>
    <option value=食積>食積</option>
    <option value=痞積>痞積</option>
    <option value=蟲積>蟲積</option>
    <option value=蠱脹>蠱脹</option>
    <option value=不能食>不能食</option>
    <option value=黃膽>黃膽</option>
    <option value=濕腫>濕腫</option>
    <option value=酒疸>酒疸</option>
    <option value=酒積>酒積</option>
    <option value=陽黃膽>陽黃膽</option>
    <option value=右脅痛>右脅痛</option>
    <option value=肺癰>肺癰</option>
    <option value=不欲食>不欲食</option>
    <option value=停滯>停滯</option>
    <option value=濕腫>濕腫</option>
    <option value=霍亂>霍亂</option>
    <option value=嘈雜>嘈雜</option>
    <option value=胃脘痛>胃脘痛</option>
    <option value=奔豚>奔豚</option>
    <option value=噎膈>噎膈</option>
    <option value=吞酸噯腐>吞酸噯腐</option>
    <option value=胃脘痛>胃脘痛</option>
</select>

    
<h1>下肢</h1>
<input type="text" id="lowerpartt" name="lowerpartt" value=""><br>

<select multiple='multiple' class='callbacks' name="lowerpart">
    <option value=腰痛>腰痛</option>
    <option value=腿酸足軟>腿酸足軟</option>
    <option value=腿腫脹痛>腿腫脹痛</option>
    <option value=腫痛在腳>腫痛在腳</option>
    <option value=三消>三消</option>
    <option value=嘈雜>嘈雜</option>
    <option value=命門火衰>命門火衰</option>
    <option value=膀胱氣>膀胱氣</option>
    <option value=精滑>精滑</option>
    <option value=脫肛>脫肛</option>
    <option value=腸癰>腸癰</option>
    <option value=腸風>腸風</option>
    <option value=小腸氣>小腸氣</option>
    <option value=交腸>交腸</option>
</select>

    
<h1>四肢</h1>
<input type="text" id="limbst" name="limbst" value=""><br>

<select multiple='multiple' class='callbacks' name="limbs">
    <option value=肢冷>肢冷</option>
    <option value=足不任地>足不任地</option>
    <option value=筋痿拘攣>筋痿拘攣</option>
    <option value=肢軟>肢軟</option>
    <option value=四肢拘急>四肢拘急</option>
    <option value=肌瘦>肌瘦</option>
</select>

<h1>大小便</h1>
<input type="text" id="excrut" name="excrut" value=""><br>

<select multiple='multiple' class='callbacks' name="excru">
    <option value=溺赤>溺赤</option>
    <option value=便閉>便閉</option>
    <option value=便血>便血</option>
    <option value=小便不利>小便不利</option>
    <option value=小便不通>小便不通</option>
    <option value=溺赤短>溺赤短</option>
    <option value=尿血>尿血</option>
    <option value=膏淋>膏淋</option>
    <option value=石淋>石淋</option>
    <option value=便膿血>便膿血</option>
    <option value=泄瀉>泄瀉</option>
    <option value=勞淋>勞淋</option>
    <option value=老淋>老淋</option>
    <option value=冷淋>冷淋</option>
    <option value=小便不禁>小便不禁</option>
    <option value=小便出血>小便出血</option>
    <option value=便閉>便閉</option>
    <option value=久痢>久痢</option>
    <option value=脫肛>脫肛</option>
    <option value=腸血>腸血</option>
    <option value=白痢>白痢</option>
    <option value=洞洩>洞洩</option>
    <option value=瀉渤>瀉渤</option>
    <option value=赤痢>赤痢</option>
    <option value=大便秘>大便秘</option>
    <option value=久痢>久痢</option>
    <option value=溺澀>溺澀</option>
    <option value=溺短>溺短</option>
    <option value=大便結>大便結</option>
    <option value=久痢久瘧>久痢久瘧</option>
    <option value=雞鳴泄瀉>雞鳴泄瀉</option>
    <option value=氣淋>氣淋</option>
    <option value=血淋>血淋</option>
    <option value=關格>關格</option>
</select>

<h1>睡眠</h1>
<input type="text" id="sleept" name="sleept" value=""><br>

<select multiple='multiple' class='callbacks' name="sleep">
    <option value=不得眠>不得眠</option>
    <option value=不得臥>不得臥</option>
</select>
  <!-- ends -->
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.4.0/jquery.quicksearch.min.js"></script>
  
  <!-- Bootstrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
  <script src="{% static 'CMdiagnose/multi-select/js/jquery.multi-select.js' %}"></script>
  <script type="text/javascript">
  // run pre selected options

  $(".callbacks[name=t_tip]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_tipt").value += values + "," ;
  }
});

$(".callbacks[name=t_root]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_roott").value += values + "," ;
  }
});

$(".callbacks[name=t_side]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_sidet").value += values + "," ;
  }
});

$(".callbacks[name=t_fur]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_furt").value += values + "," ;
  }
});

$(".callbacks[name=t_color]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_colort").value += values + "," ;
  }
});

$(".callbacks[name=t_middle]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_middlet").value += values + "," ;
  }
});

$(".callbacks[name=t_bottom]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_bottomt").value += values + "," ;
  }
});

$(".callbacks[name=t_moisture]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_moisturet").value += values + "," ;
  }
});

  $(".callbacks[name=whole]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("wholet").value += values + "," ;
    }
  });

  $(".callbacks[name=head]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("headt").value += values + "," ;
    }
  });

  $(".callbacks[name=eye]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("eyet").value += values + "," ;
    }
  });

//   $(".callbacks[name=tongue_]").multiSelect({
//   afterSelect: function(values){
//     alert("Select value: "+values);
//     document.getElementById("tongue_t").value += values + "," ;
//   }
// });

  $(".callbacks[name=mouth]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("moutht").value += values + "," ;
  }
});

$(".callbacks[name=ent]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("entt").value += values + "," ;
  }
});

$(".callbacks[name=back]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("backt").value += values + "," ;
  }
});

$(".callbacks[name=neck]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("neckt").value += values + "," ;
  }
});

$(".callbacks[name=chest]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("chestt").value += values + "," ;
  }
});


$(".callbacks[name=stomach]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("stomacht").value += values + "," ;
  }
});

$(".callbacks[name=lowerpart]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("lowerpartt").value += values + "," ;
  }
});

$(".callbacks[name=limbs]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("limbst").value += values + "," ;
  }
});

$(".callbacks[name=excru]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("excrut").value += values + "," ;
  }
});

$(".callbacks[name=sleep]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("sleept").value += values + "," ;
  }
});

$('.searchable[name=general]').multiSelect({
  selectableHeader: "<input type='text' class='search-input' autocomplete='off' placeholder='嘗試輸入 \"熱\"'>",
  selectionHeader: "<input type='text' class='search-input' autocomplete='off'>",
  afterInit: function(ms){
    var that = this,
        $selectableSearch = that.$selectableUl.prev(),
        $selectionSearch = that.$selectionUl.prev(),
        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
    .on('keydown', function(e){
      if (e.which === 40){
        that.$selectableUl.focus();
        return false;
      }
    });

    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
    .on('keydown', function(e){
      if (e.which == 40){
        that.$selectionUl.focus();
        return false;
      }
    });
  },
  afterSelect: function(values){
    this.qs1.cache();
    this.qs2.cache();
    alert("Select value: "+values);
    document.getElementById("generalt").value += values + "," ;
  },

  afterDeselect: function(){
    this.qs1.cache();
    this.qs2.cache();
    
    
  }
  
});
  </script>
<input type="submit" value="get result">
</form>


