
    {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="{% static 'CMdiagnose/multi-select/css/multi-select.css' %}">


<h1>New</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'CMdiagnose:new' %}" method="post">
{% csrf_token %}
<!-- <label>General Symptoms</label>
<input type="text" name="general" value=""><br> -->
<h1>舌診</h1>
<label>舌尖</label>
<input type="text" id="t_tipt" name="t_tipt" value=""><br>
<select multiple='multiple' class='callbacks' name="t_tip">
    <option value=red>赤</option>
    <option value=burr>芒刺</option>
</select>
<!-- <label>舌根</label>
<input type="text" id="t_roott" name="t_roott" value=""><br>
<select multiple='multiple' class='callbacks' name="t_root"></select>
</select> -->
<label>舌邊</label>
<input type="text" id="t_sidet" name="t_sidet" value=""><br>
<select multiple='multiple' class='callbacks' name="t_side">
    <option value=red>赤</option>
    <option value=burr>芒刺</option>
</select>
<label>舌苔</label>
<input type="text" id="t_furt" name="t_furt" value=""><br>
<select multiple='multiple' class='callbacks' name="t_fur">
    <option value=none>無苔</option>
    <option value=thick>厚苔</option>
    <option value=thin>薄苔</option>
    <option value=crack>燥裂苔</option>
</select>
<label>舌色</label>
<input type="text" id="t_colort" name="t_colort" value=""><br>
<select multiple='multiple' class='callbacks' name="t_color">
    <option value=red>紅</option>
    <option value=yellow>黃</option>
    <option value=black>黑</option>
    <option value=white>白</option>
    <option value=purple>紫</option>
</select>
<label>舌中</label>
<input type="text" id="t_middlet" name="t_middlet" value=""><br>
<select multiple='multiple' class='callbacks' name="t_middle">
    <option value=yellow>黃</option>
    <option value=black>黑</option>
</select>
<label>舌底</label>
<input type="text" id="t_bottomt" name="t_bottomt" value=""><br>
<select multiple='multiple' class='callbacks' name="t_bottom">
    <option value=red>紅</option>
    <option value=dry>嗌乾</option>
</select>
<label>舌濕度</label>
<input type="text" id="t_moisturet" name="t_moisturet" value=""><br>
<select multiple='multiple' class='callbacks' name="t_moisture">
    <option value=moist>濕</option>
    <option value=dry>乾</option>
</select>



<h1>整體</h1>
<input type="text" id="wholet" name="wholet" value=""><br>
  <select multiple='multiple' class='callbacks' name="whole">
      <option value=惡風>惡風</option>
      <option value=惡寒>惡寒</option>
      <option value=發熱>發熱</option>
      <option value=瘧>瘧</option>
      <option value=血虛>血虛</option>
      <option value=氣虛>氣虛</option>
      <option value=氣血兼虛>氣血兼虛</option>
      <option value=喜熱湯>喜熱湯</option>
      <option value=氣滯>氣滯</option>
      <option value=血痛>血痛</option>
      <option value=停飲>停飲</option>
      <option value=暑閉>暑閉</option>
      <option value=蟲嚙>蟲嚙</option>
      <option value=氣冷>氣冷</option>
      <option value=譫語>譫語</option>
      <option value=赤濁>赤濁</option>
      <option value=煩躁>煩躁</option>
      <option value=畏風>畏風</option>
      <option value=傷暑風>傷暑風</option>
      <option value=中時疫>中時疫</option>
      <option value=虛勞>虛勞</option>
      <option value=惡風寒>惡風寒</option>
      <option value=過午便熱>過午便熱</option>
      <option value=寒熱往來>寒熱往來</option>
      <option value=虛火>虛火</option>
      <option value=厥逆>厥逆</option>
      <option value=自汗>自汗</option>
      <option value=疹>疹</option>
      <option value=譫語狂亂>譫語狂亂</option>
      <option value=轉失氣>轉失氣</option>
      <option value=蜷臥>蜷臥</option>
      <option value=憎寒>憎寒</option>
      <option value=壯熱>壯熱</option>
      <option value=血不足>血不足</option>
      <option value=驚悸>驚悸</option>
      <option value=健忘>健忘</option>
      <option value=虛痛>虛痛</option>
      <option value=怔忡>怔忡</option>
      <option value=身痛>身痛</option>
      <option value=厥脫>厥脫</option>
      <option value=氣閉>氣閉</option>
      <option value=痰閉>痰閉</option>
      <option value=暑閉>暑閉</option>
      <option value=水閉發喘>水閉發喘</option>
      <option value=風閉>風閉</option>
      <option value=為火閉>為火閉</option>
      <option value=盜汗>盜汗</option>
      <option value=夜熱>夜熱</option>
      <option value=蜷臥厥冷>蜷臥厥冷</option>
      <option value=譫語>譫語</option>
      <option value=疹>疹</option>
      <option value=發狂>發狂</option>
      <option value=水腫>水腫</option>
      <option value=髒毒>髒毒</option>
      <option value=惡寒無汗>惡寒無汗</option>
      <option value=譫語>譫語</option>
  </select>
<!-- 
<h1>脈象</h1>
  <input type="text" id="pulse" name="pulse" value=""><br>
  
    <select multiple='multiple' class='callbacks' name="pulse">
  </select> -->

<!-- <h1>舌象</h1>
  <input type="text" id="tongue_t" name="tongue_t" value=""><br>
  
    <select multiple='multiple' class='callbacks' name="tongue_">
        <option value=苔白厚>苔白厚</option>
        <option value=舌絳>舌絳</option>
        <option value=舌黑>舌黑</option>
        <option value=舌潤>舌潤</option>
        <option value=舌尖赤>舌尖赤</option>
        <option value=重舌>重舌</option>
        <option value=木舌>木舌</option>
        <option value=無液>無液</option>
        <option value=舌苔薄黃>舌苔薄黃</option>
  </select> -->

<h1>頭部</h1>
<input type="text" id="headt" name="headt" value=""><br>

  <select multiple='multiple' class='callbacks' name="head">
      <option value='頭痛'>頭痛</option>
      <option value='頭眩'>頭眩</option>
      <option value='頭汗'>頭汗</option>
      <option value='眩暈'>眩暈</option>
      <option value='面黃'>面黃</option>
      <option value='發腫'>發腫</option>
      <option value='面浮腫'>面浮腫</option>
      <option value='眩暈'>眩暈</option>
      <option value='面色痿白'>面色痿白</option>
      <option value='面痛'>面痛</option>
      <option value='黃胖面腫'>黃胖面腫</option>
      <option value='戴陽'>戴陽</option>
  </select>

<h1>眼部</h1>
  <input type="text" id="eyet" name="eyet" value=""><br>
  
    <select multiple='multiple' class='callbacks' name="eye">
        <option value=目干>目干</option>
        <option value=目不明>目不明</option>
        <option value=目赤>目赤</option>
        <option value=目痛>目痛</option>
        <option value=目眩>目眩</option>
        <option value=眉棱骨眼眶痛>眉棱骨眼眶痛</option>
        <option value=目赤腫痛>目赤腫痛</option>
        <option value=目胞腫痛>目胞腫痛</option>
        <option value=目視無光>目視無光</option>
    </select>

<h1>耳鼻喉</h1>
<input type="text" id="entt" name="entt" value=""><br>

  <select multiple='multiple' class='callbacks' name="ent">
      <option value=鼻鳴>鼻鳴</option>
      <option value=乾嘔>乾嘔</option>
      <option value=鼻塞>鼻塞</option>
      <option value=流清涕>流清涕</option>
      <option value=濃痰>濃痰</option>
      <option value=咳嗽>咳嗽</option>
      <option value=咽乾>咽乾</option>
      <option value=利清穀>利清穀</option>
      <option value=痰迷>痰迷</option>
      <option value=瘰癧>瘰癧</option>
      <option value=聤耳>聤耳</option>
      <option value=痰飲>痰飲</option>
      <option value=痰>痰</option>
      <option value=噴嚏>噴嚏</option>
      <option value=喉疼>喉疼</option>
      <option value=鼻燥>鼻燥</option>
      <option value=鼻衄>鼻衄</option>
      <option value=失氣>失氣</option>
      <option value=咽痛>咽痛</option>
      <option value=吐血>吐血</option>
      <option value=氣急>氣急</option>
      <option value=咯血>咯血</option>
      <option value=耳鳴>耳鳴</option>
      <option value=耳聾>耳聾</option>
  </select>


<h1>口腔</h1>
<input type="text" id="moutht" name="moutht" value=""><br>

  <select multiple='multiple' class='callbacks' name="mouth">
      <option value='口苦'>口苦</option>
      <option value='口燥'>口燥</option>
      <option value='舌卷'>舌卷</option>
      <option value='口渴'>口渴</option>
      <option value='燥渴'>燥渴</option>
      <option value='吐清沫'>吐清沫</option>
      <option value='吐蛔'>吐蛔</option>
      <option value='口吐黃涎'>口吐黃涎</option>
      <option value='煩渴'>煩渴</option>
      <option value='嘔吐'>嘔吐</option>
      <option value='呃逆'>呃逆</option>
      <option value='舌捲'>舌捲</option>
      <option value='嗽水不欲咽'>嗽水不欲咽</option>
      <option value='吐血'>吐血</option>
      <option value='口苦'>口苦</option>
      <option value='消渴'>消渴</option>
      <option value='唇舌白'>唇舌白</option>
      <option value='嘔吐'>嘔吐</option>
      <option value='唇赤'>唇赤</option>
      <option value='熱吐'>熱吐</option>
      <option value='唇白'>唇白</option>
      <option value='唇焦'>唇焦</option>
      <option value='口臭'>口臭</option>
      <option value='齒痛'>齒痛</option>
      <option value='流涎'>流涎</option>
      <option value='呃逆'>呃逆</option>
      <option value='耳聾'>耳聾</option>
      <option value='舌黑燥渴'>舌黑燥渴</option>
      <option value='舌苔滑'>舌苔滑</option>
      <option value='燥渴'>燥渴</option>
      <option value='唇舌紅'>唇舌紅</option>
  </select>

  
  <h1>颈部</h1>
  <input type="text" id="neckt" name="neckt" value=""><br>
  
    <select multiple='multiple' class='callbacks' name="neck">
        <option value=頸腫>頸腫</option>
        <option value=發頤>發頤</option>
        <option value=項脊強>項脊強</option>
    </select>



  <h1>背部</h1>
  <input type="text" id="backt" name="backt" value=""><br>
  
    <select multiple='multiple' class='callbacks' name="back">
        <option value=項脊強>項脊強</option>
        <option value=天柱骨倒>天柱骨倒</option>
    </select>



  
<h1>胸部</h1>
<input type="text" id="chestt" name="chestt" value=""><br>

  <select multiple='multiple' class='callbacks' name="chest">
      <option value=喘>喘</option>
      <option value=胸滿>胸滿</option>
      <option value=胸膈>胸膈</option>
      <option value=滿悶>滿悶</option>
      <option value=心悸>心悸</option>
      <option value=氣上衝心>氣上衝心</option>
      <option value=氣積>氣積</option>
      <option value=肺痿>肺痿</option>
      <option value=肺癰>肺癰</option>
      <option value=龜胸>龜胸</option>
      <option value=按胸則痛>按胸則痛</option>
      <option value=結胸>結胸</option>
      <option value=痞氣.胸脹悶>痞氣.胸脹悶</option>
      <option value=胸脹痛>胸脹痛</option>
      <option value=嘔膿>嘔膿</option>
      <option value=胸痛>胸痛</option>
      <option value=喘嗽>喘嗽</option>
      <option value=太息>太息</option>
      <option value=失氣>失氣</option>
  </select>

  
<h1>腹部</h1>
<input type="text" id="stomacht" name="stomacht" value=""><br>

<select multiple='multiple' class='callbacks' name="stomach">
    <option value=脅痛>脅痛</option>
    <option value=左脅痛>左脅痛</option>
    <option value=腹滿痛>腹滿痛</option>
    <option value=下利>下利</option>
    <option value=痛利清水>痛利清水</option>
    <option value=腹痛>腹痛</option>
    <option value=小腹痛>小腹痛</option>
    <option value=囊縮>囊縮</option>
    <option value=遺精>遺精</option>
    <option value=積聚>積聚</option>
    <option value=疝氣>疝氣</option>
    <option value=小腹滿>小腹滿</option>
    <option value=腹冷痛>腹冷痛</option>
    <option value=腰以上腫>腰以上腫</option>
    <option value=腰以下腫>腰以下腫</option>
    <option value=先喘而後腫>先喘而後腫</option>
    <option value=疝瘕>疝瘕</option>
    <option value=偏墜>偏墜</option>
    <option value=鼓脹>鼓脹</option>
    <option value=積滯不消>積滯不消</option>
    <option value=食積>食積</option>
    <option value=痞積>痞積</option>
    <option value=蟲積>蟲積</option>
    <option value=蠱脹>蠱脹</option>
    <option value=不能食>不能食</option>
    <option value=黃膽>黃膽</option>
    <option value=濕腫>濕腫</option>
    <option value=酒疸>酒疸</option>
    <option value=酒積>酒積</option>
    <option value=陽黃膽>陽黃膽</option>
    <option value=右脅痛>右脅痛</option>
    <option value=肺癰>肺癰</option>
    <option value=不欲食>不欲食</option>
    <option value=停滯>停滯</option>
    <option value=濕腫>濕腫</option>
    <option value=霍亂>霍亂</option>
    <option value=嘈雜>嘈雜</option>
    <option value=胃脘痛>胃脘痛</option>
    <option value=奔豚>奔豚</option>
    <option value=噎膈>噎膈</option>
    <option value=吞酸噯腐>吞酸噯腐</option>
    <option value=胃脘痛>胃脘痛</option>
</select>

    
<h1>下肢</h1>
<input type="text" id="lowerpartt" name="lowerpartt" value=""><br>

<select multiple='multiple' class='callbacks' name="lowerpart">
    <option value=腰痛>腰痛</option>
    <option value=腿酸足軟>腿酸足軟</option>
    <option value=腿腫脹痛>腿腫脹痛</option>
    <option value=腫痛在腳>腫痛在腳</option>
    <option value=三消>三消</option>
    <option value=嘈雜>嘈雜</option>
    <option value=命門火衰>命門火衰</option>
    <option value=膀胱氣>膀胱氣</option>
    <option value=精滑>精滑</option>
    <option value=脫肛>脫肛</option>
    <option value=腸癰>腸癰</option>
    <option value=腸風>腸風</option>
    <option value=小腸氣>小腸氣</option>
    <option value=交腸>交腸</option>
</select>

    
<h1>四肢</h1>
<input type="text" id="limbst" name="limbst" value=""><br>

<select multiple='multiple' class='callbacks' name="limbs">
    <option value=肢冷>肢冷</option>
    <option value=足不任地>足不任地</option>
    <option value=筋痿拘攣>筋痿拘攣</option>
    <option value=肢軟>肢軟</option>
    <option value=四肢拘急>四肢拘急</option>
    <option value=肌瘦>肌瘦</option>
</select>

<h1>大小便</h1>
<input type="text" id="excrut" name="excrut" value=""><br>

<select multiple='multiple' class='callbacks' name="excru">
    <option value=溺赤>溺赤</option>
    <option value=便閉>便閉</option>
    <option value=便血>便血</option>
    <option value=小便不利>小便不利</option>
    <option value=小便不通>小便不通</option>
    <option value=溺赤短>溺赤短</option>
    <option value=尿血>尿血</option>
    <option value=膏淋>膏淋</option>
    <option value=石淋>石淋</option>
    <option value=便膿血>便膿血</option>
    <option value=泄瀉>泄瀉</option>
    <option value=勞淋>勞淋</option>
    <option value=老淋>老淋</option>
    <option value=冷淋>冷淋</option>
    <option value=小便不禁>小便不禁</option>
    <option value=小便出血>小便出血</option>
    <option value=便閉>便閉</option>
    <option value=久痢>久痢</option>
    <option value=脫肛>脫肛</option>
    <option value=腸血>腸血</option>
    <option value=白痢>白痢</option>
    <option value=洞洩>洞洩</option>
    <option value=瀉渤>瀉渤</option>
    <option value=赤痢>赤痢</option>
    <option value=大便秘>大便秘</option>
    <option value=久痢>久痢</option>
    <option value=溺澀>溺澀</option>
    <option value=溺短>溺短</option>
    <option value=大便結>大便結</option>
    <option value=久痢久瘧>久痢久瘧</option>
    <option value=雞鳴泄瀉>雞鳴泄瀉</option>
    <option value=氣淋>氣淋</option>
    <option value=血淋>血淋</option>
    <option value=關格>關格</option>
</select>

<h1>睡眠</h1>
<input type="text" id="sleept" name="sleept" value=""><br>

<select multiple='multiple' class='callbacks' name="sleep">
    <option value=不得眠>不得眠</option>
    <option value=不得臥>不得臥</option>
</select>
  <!-- ends -->
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
  <script src="{% static 'CMdiagnose/multi-select/js/jquery.multi-select.js' %}"></script>
  <script type="text/javascript">
  // run pre selected options

  $(".callbacks[name=t_tip]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_tipt").value += values + "," ;
  }
});

$(".callbacks[name=t_root]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_roott").value += values + "," ;
  }
});

$(".callbacks[name=t_side]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_sidet").value += values + "," ;
  }
});

$(".callbacks[name=t_fur]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_furt").value += values + "," ;
  }
});

$(".callbacks[name=t_color]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_colort").value += values + "," ;
  }
});

$(".callbacks[name=t_middle]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_middlet").value += values + "," ;
  }
});

$(".callbacks[name=t_bottom]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_bottomt").value += values + "," ;
  }
});

$(".callbacks[name=t_moisture]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("t_moisturet").value += values + "," ;
  }
});

  $(".callbacks[name=whole]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("wholet").value += values + "," ;
    }
  });

  $(".callbacks[name=head]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("headt").value += values + "," ;
    }
  });

  $(".callbacks[name=eye]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("eyet").value += values + "," ;
    }
  });

//   $(".callbacks[name=tongue_]").multiSelect({
//   afterSelect: function(values){
//     alert("Select value: "+values);
//     document.getElementById("tongue_t").value += values + "," ;
//   }
// });

  $(".callbacks[name=mouth]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("moutht").value += values + "," ;
  }
});

$(".callbacks[name=ent]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("entt").value += values + "," ;
  }
});

$(".callbacks[name=back]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("backt").value += values + "," ;
  }
});

$(".callbacks[name=neck]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("neckt").value += values + "," ;
  }
});

$(".callbacks[name=chest]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("chestt").value += values + "," ;
  }
});


$(".callbacks[name=stomach]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("stomacht").value += values + "," ;
  }
});

$(".callbacks[name=lowerpart]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("lowerpartt").value += values + "," ;
  }
});

$(".callbacks[name=limbs]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("limbst").value += values + "," ;
  }
});

$(".callbacks[name=excru]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("excrut").value += values + "," ;
  }
});

$(".callbacks[name=sleep]").multiSelect({
  afterSelect: function(values){
    alert("Select value: "+values);
    document.getElementById("sleept").value += values + "," ;
  }
});
  </script>
<input type="submit" value="get result">
</form>


