{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'CMdiagnose/style3.css' %}">
<!-- <style>
    my { 
        background-color: yellow;
        color: black;
    }
    
    mg { 
        background-color: green;
        color: black;
    }
    
    mr { 
        background-color: red;
        color: black;
    }
    
    x{
         text-decoration: line-through;
    }
    
    u{
         text-decoration: underl;
    }
    
    p span 
    {
        display: block;
    }
</style> -->
<body>
<h1>穴位主治：</h1>

<p>{{ person.body.general |linebreaks}}</p>

<h1>相關穴位：</h1>
<div style="user-select:none">
<p>{% autoescape off %}{{ person.body.result |linebreaks}}{% endautoescape %}</p>
</div>
</body>